
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
!ViconDataStreamSDK_CPP.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.sdf
*.opensdf
*.ipch
*/data-files/*.jpg
*/data-files/*.xml
*/data-files/*.xml.gz
*/data-files/g3d-license.txt
*/data-files/log.txt
*/data-files/monocalib.yml
*.jpg
*.txt
*.bmp
*.xml.gz
*.ply
